.new-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9.67rem;
}

.new-img-text-group {
    display: flex;
    max-width: 1400px;
    width: 100%;
}


.new-text-group {
    flex: 1;
    padding: 20px;
}

.new-text-group h1 {
    font-size: 32px;
    color: #000;
}

.new-text-group p {
    font-size: 18px;
    color: #000;
}
.box-blue-sixth-screen2{
    width: 302px;
    height: 327px;
    background-color: #194DD2;
    border-radius: 5px;
    display: flex;
    font-size: 19px;
    justify-content: center;
    align-items: flex-end;
}

.sixth-screen-img-group-tow-box{
display: flex;

}

