/* Общие стили */

*,
*::before,
*::after {
    box-sizing: border-box;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

.link {
    text-decoration: none;
    color: #0A51CB;

}

.link:hover {
    color: #040d1e;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 22px;
}

.font-20 {
    font-size: 42px;
}

p {
    font-size: 18px;
}


*,
::before,
::after {
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-wrapper {
    width: 100%;
    max-width: 1920px;
    /* padding: 0 24px; */
    margin: 0 auto;
    background: #fff;
}

/* ------------------------------------------------- */
/* ------------------one-screen--------------------- */
/* ------------------------------------------------- */

.one-screen {
    width: 100%;
    max-width: 1920px;
    height: 904px;
    min-height: 904px;
    display: flex;
}

.one-screen-left-side {
    width: 20%;
    height: 100%;
    background-color: #194DD2;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.os-ls-p-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 50px;
    height: 40px;
    color: #000;
}

.one-screen-right-side {
    width: 80%;
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;
}

.one-screen-right-side-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #000000;
    height: 10%;
    box-sizing: border-box;
}

.one-screen-right-side-bottom {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.os-rs-header-ul {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

li {
    color: #ffffff;
    flex: 1;
    text-align: center;
    list-style-type: none;
}

.right-side-header-ul-li {
    display: flex;
    width: 80%;
    padding: 0;
    margin: 0;
}

.login-registration {
    background-color: #194DD2;
    height: 100%;
    width: 20%;
    border: none;
    color: white;
}

.slide.active {
    opacity: 1;
}

.one-screen-wrapper {
    width: 80%;
    color: #FFFFFF;
}

.one-screen-wrapper h1 {
    font-size: 55px;
}

.one-screen-wrapper p {
    font-size: 16px;
}

.calculator-button1 {
    margin-top: 67px;
    background-color: #194dd200;
    color: white;
    width: 300px;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

@media(max-width: 600px) {
    .calculator-button1{
        width: 100%;
        font-size: 16px;
    }
}


.indicators {
    position: absolute;
    top: 50%;
    right: 200px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(204, 204, 204, 0.6);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: rgb(255, 255, 255);
    border-color: #ffffff;
}

.open {
    display: flex !important;
}

.gamb-ico {
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    height: 18px;
}

.gamb-ico span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FFFFFF;
}

.gamb-ico::before,
.gamb-ico::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
    transform: all 0.3s ease 0s;
}

.gamb-ico::before {
    top: 0;
}

.gamb-ico::after {
    bottom: 0;
}

.gamb-ico.active span {
    transform: scale(0)
}

.gamb-ico.active::before {
    top: 50%;
    transform: rotate(-45deg) 
    translate(0, -50%);
}

.gamb-ico.active::after {
    bottom: 50%;
    transform: rotate(45deg) 
    translate(0, 50%);
}

@media(max-width: 1170px) {
    .right-side-header-ul-li {
        width: 100%;
    }

    .indicators {
        right: 50px;
    }
}

@media(max-width: 1400px) {
    .one-screen-left-side {
        display: none;
    }

    .one-screen-right-side {
        width: 100%;
    }

    .slide {
        justify-content: normal;
    }

    .one-screen-wrapper {
        max-width: 878px;
        margin-left: 50px;
    }
}

@media(min-width: 780px) {
    .gamb-ico {
        display: none;
    }
}

@media(max-width: 780px) {
    .right-side-header-ul-li {
        display: none;
    }

    .os-rs-header-ul {
        justify-content: flex-start;
        margin-left: 15px;
    }

    .right-side-header-ul-li {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: Black;
        animation: gambicoAnimation 0.4s;
    }

    @keyframes gambicoAnimation {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .right-side-header-ul-li ul {
        flex-direction: column;
        row-gap: 30px;
    }

    .login-registration {
        width: 70%;
    }

    body.no-scroll {
        overflow: hidden; 
    }
}

@media(max-width: 600px) {
    .indicators {
        right: 10px;
    }

    .one-screen-wrapper h1 {
        width: 100%;
        font-size: 37px;
    }
}

@media(max-width: 400px) {
    .one-screen-wrapper h1 {
        width: 100%;
        font-size: 30px;
    }

    .one-screen-wrapper p {
        font-size: 16px;
    }

    .one-screen-wrapper {
        margin-left: 20px;
    }

    .calculator-button1 {
        margin-top: 30px;
    }
}


/* ------------------------------------------------- */
/* ------------------two-screen--------------------- */
/* ------------------------------------------------- */

.two-screen {
    margin-top: 5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
}

.two-screen-wrapper {
    width: 1480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-screen-top {
    display: flex;
    max-width: 1402px;
}

.font-32 {
    color: #141B46;
    font-size: 42px;
}

.font-17 {
    font-size: 18px;
    color: #000;
    opacity: 70%;
}

.two-screen-text-group {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 1440px) {

    .img-group {
        position: absolute;
        top: -999px;
        opacity: 0;
    }

    .two-screen-top {
        justify-content: center;
    }

    .two-screen-text-group {
        width: 100%;
        margin: 0px 10px 0px 10px;
        align-items: center;
    }

    .font-32 {
        text-align: center;
    }

    .font-17 {
        text-align: center;
    }
}

@media (max-width: 700px) {
    .font-32 {
        font-size: 32px;
        text-align: center;
    }

    .font-17 {
        text-align: center;
    }
}

.img-group {
    /* width: 30%; */
    display: flex;
    flex-direction: column;
}

.img-group-tow-box {
    display: flex;
}

.registration-button5 {
    margin-top: 66px;
    padding: 15px 80px;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    background-color: #0A51CB;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

.registration-button5:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid #002C54;
}

.box-work-blue {
    width: 302px;
    height: 327px;
    background-color: #194DD2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.img-group-tow-box-1 {
    width: 304px;
    height: 327px;
    border-radius: 5px;
    margin-left: 1.4rem;
}

.img-group-bottom {
    width: 629px;
    height: 201px;
    margin-top: 1rem;
    background-color: bisque;
    border-radius: 5px;
}

.button-two-screen {
    padding: 15px 45px;
    width: 449px;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    background-color: #0A51CB;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

@media(max-width: 500px) {
    .button-two-screen {
        width: 100%;
    }
}

.button-two-screen:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    border: 2px solid #0A51CB;
}

.two-screen-bottom-box {
    width: 473px;
    height: 408px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 10px;
    flex: 1;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.two-screen-bottom {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 4rem;
    gap: 20px;
}

.img-and-text-img {
    background-image: url(/img/Group.png);
}

.img-and-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 3rem;
}

/* ------------------------------------------------- */
/* ------------------third-screen------------------- */
/* ------------------------------------------------- */

.third-screen {
    background-color: #1A1A1A;
    margin-top: 5rem;
    width: 100%;
}

.third-screen-wrapper {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1500px) {
    .third-screen-img {
        display: none;
    }

    .third-screen-text {
        margin: 100px 0px 100px 0px;
    }
}

.third-screen-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 1100px) {
    .third-screen-text {
        display: flex;
        flex-direction: column;
        gap: 7rem;
    }
}

.h-text-and-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50%;
    justify-content: space-evenly;
}

.rounded-button {
    margin-top: 66px;
    padding: 15px 45px;
    border: none;
    width: 300px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #0A51CB;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

.rounded-button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
}

.circles {
    position: relative;
    width: 300px;
    height: 300px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 85px;
}

.circle {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 36px;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.circle:hover {
    color: #ffffff;
    background-color: #007BFF;

}

.dotted-line {
    position: absolute;
    background: url('/img/Line 6 (1).png') no-repeat center;
    /* Используем ваше изображение */
    background-size: contain;
    /* Масштабируем изображение */
    z-index: 1;
    top: -50px;
}

.wrapper-circles {
    display: flex;
    gap: 38px;
}

.text-circles {
    display: flex;
    flex-direction: column;
    gap: 47px;
    width: 468px;
}

.font-30 {
    font-size: 18px;
    color: #ffffff;
}

.font-31 {
    color: #ffffff;
    font-size: 18px;
}

.font-40 {
    font-size: 42px;
    color: #FFFFFF;
}

@media (max-width: 1100px) {

    .font-40 {
        font-size: 37px;
        text-align: center;
    }

    .line-25 {
        display: none;
    }

    .rounded-button {
        margin-top: 33px;
    }
}

@media (max-width: 530px) {

    .font-30,
    .font-31 {
        font-size: 16px;
    }

    .text-circles {
        gap: 10px;
    }

    .font-40 {
        font-size: 37px;
    }
}

@media (max-width: 666px) {

    .container {
        display: none;
    }

    .text-circles {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 10px 0 10px
    }

    .font-30,
    .font-31 {
        text-align: center;
    }
}

/* ------------------------------------------------- */
/* ------------------third-screen------------------- */
/* ------------------------------------------------- */

.four-screen {
    margin-top: 5rem;
}

.four-screen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four-screen-text-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font-21 {
    color: #133F8D;
    font-size: 18px;
}

.font-41 {
    font-size: 42px;
}

@media (max-width: 715px) {
    .font-41 {
        text-align: center;
    }
}

@media (max-width: 530px) {
    .font-41 {
        font-size: 32px;
        text-align: center;

    }

    .four-screen-text-top {
        margin: 0px 10px 0px 10px;
    }
}

.cards {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 109px;
}

.cards1-h1 {
    font-size: 18px;
}

.cards1-p {
    font-size: 18px;
}

.rigth-cards {
    margin-left: 4rem;
}

.cards1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 600px;
    flex: 1 1 48%;
}

.fillings-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-container {
    display: flex;
    gap: 1rem;
    margin-top: 3.5rem;
    margin-bottom: 4.5rem;
}

.registration-button {
    padding: 15px 80px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

.calculator-button2 {
    padding: 15px 51px;
    border: none;
    border-radius: 25px;
    color: #00000000;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

.registration-button {
    background-color: #0A51CB;

}

.registration-button:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid #002C54;
}

.calculator-button2 {
    background-color: white;
    color: #000000;
    border: 2px solid #002C54;
}

.calculator-button2:hover {
    background-color: #0A51CB;
    color: white;
    border: 2px solid #0A51CB;
}

/* ------------------------------------------------- */
/* ----------fifth-screen-statistics---------------- */
/* ------------------------------------------------- */

.fifth-screen {
    display: flex;
    justify-content: center;
    background-image: url('/img/Rectangle 64.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* или фиксированная высота */
    position: relative;
}

.statistics-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 90%;
    max-width: 1500px;
}

.fifth-screen-statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 85px;
    margin-top: 3.7rem;
    margin-bottom: 4rem;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;
    width: 306px;
    flex: 1 1 20%;
}


@media (max-width: 789px) {
    .stat-item {
        display: flex;
        align-items: center;
    }
}

.stat-number {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
}

.stat-label {
    font-size: 1rem;
    color: #e0e0e0;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 97px;
}

.join-button,
.calculator-button {
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    color: white;
    width: 281px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.join-button {
    background-color: #03a9f4;
}

.join-button:hover {
    background-color: #4d2a2a00;
    color: rgb(255, 255, 255);
    border: 2px solid #FFFFFF;
}

.calculator-button {
    background-color: #4d2a2a00;
    color: #ffffff;
    border: 2px solid #FFFFFF;
}

.calculator-button:hover {
    background-color: #03a9f4;
    color: white;
    border: 2px solid #03a9f4;
}

@media (max-width: 768px) {
    .stat-number {
        font-size: 1.5rem;
    }

    .stat-label {
        font-size: 0.8rem;
    }

    .join-button,
    .calculator-button {
        padding: 12px 24px;
        font-size: 0.8rem;
    }
}

/* ------------------------------------------------- */
/* ----------------sixth-screen--------------------- */
/* ------------------------------------------------- */

.sixth-screen {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sixth-screen-main-wrapper {
    display: flex;
    flex-direction: column;
}

.sixth-screen-first-block {
    margin-top: 6.67rem;
}

.first-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sixth-screen-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    /* Убираем отступы между блоками */
    justify-content: center;
    margin-top: 6.17rem;
}

.font-42 {
    font-size: 42px;
}

.block {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 328px;
    height: 339px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    position: relative;
    opacity: 0.3;
}

.block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.block:hover {
    transform: scale(1.05);
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.block-content {
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .block {
        width: 328px;
        /* Фиксированная ширина для блоков */
    }

    .font-42 {
        margin: 0px 10px 0px 10px;
        text-align: center;
    }
}

.sixth-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 9.67rem;
}

@media(max-width: 600px) {
    .sixth-wrapper{
        margin-top: 100px;
    }
}

.sixth-screen-img-text-grup {
    display: flex;
    max-width: 1400px;
}

.sixth-screen-group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

@media (max-width: 1500px) {
    .sixth-screen-group {
        display: none;
    }
}

.sixth-screen-img-group-tow-box {
    display: flex;
}

.box-blue-sixth-screen {
    width: 302px;
    height: 327px;
    background-color: #194DD2;
    border-radius: 5px;
    display: flex;
    font-size: 19px;
    justify-content: center;
    align-items: flex-end;
}

.sixth-screen-box-left {
    margin-left: 1.3rem;
}

.sixth-screen-box-bottom {
    margin-top: 1.10rem;
}

.earnings-container {
    display: flex;
    justify-content: center;
    margin-top: 9.67rem;
}

.content-layout {
    display: flex;
    max-width: 1400px;
    gap: 5.75rem;
}

.text-section {
    flex: 1;
}

.text-section p {
    font-size: 18px;
    color: #000;
    margin-top: 2.5625rem;
}

.earnings-reg-button {
    padding: 15px 45px;
    margin-top: 66px;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    background-color: #0A51CB;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

.earnings-reg-button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    border: 2px solid #0A51CB;
}

@media (max-width: 1500px) {

    .earnings-container {
        margin-top: 4rem;
        margin: 30px 10px 0px 10px;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
    }

    .line-26 {
        display: none;
    }

    .font-74 {
        text-align: center;
    }

    .text-section p {
        margin-top: 10px;
    }

    .earnings-reg-button {
        margin-top: 20px;
    }
}

.sixth-screen-two-screen-text-group {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.font-71 {
    font-size: 18px;
    color: #000;
    margin-bottom: 0px;
}

.font-72 {
    font-size: 18px;
    color: #000;
}

.font-73 {
    font-size: 42px;
}

@media (max-width: 1500px) {

    .sixth-screen-two-screen-text-group {
        margin-left: 0rem;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .font-71,
    .font-72,
    .font-73 {
        text-align: center;
        max-width: 800px;
    }

    .button-two-screen {
        margin-top: 30px;
    }

}

@media (max-width: 700px) {
    .font-32 {
        font-size: 32px;
        text-align: center;
    }

    .font-17 {
        text-align: center;
    }

}

@media (max-width: 500px) {

    .font-71,
    .font-72,
    .font-73 {
        font-size: 15px;
    }

}

.text-section h1 {
    color: #000;
    font-size: 42px;
    margin-bottom: 1rem;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

@media (max-width: 1500px) {
    .image-section {
        display: none;
    }
}

.image-box {
    display: flex;
    width: 628px;
}

.left-image {
    background-color: antiquewhite;
}

.blue-box {
    width: 302px;
    height: 327px;
    background-color: #194DD2;
    border-radius: 5px;
    display: flex;
    font-size: 19px;
    justify-content: center;
    align-items: flex-end;
    color: #FFFFFF;
    margin-left: 1.3rem;
}

.bottom-image {
    margin-top: 1.10rem;
}

.sixth-screen-four {
    margin-top: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.6875rem;
}

.sixth-screen-four-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-wrapper {
    display: flex;
    justify-content: center;
    gap: 17px;
}

@media (max-width: 1500px) {
    .new-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

.aaa {
    display: flex;
    width: 685px;
    height: 420px;
    background-color: #0A51CB;
    justify-content: center;
}

.bbb {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq-container {
    display: flex;
    justify-content: center;
    width: 80%;
    width: 779px;
    height: 130px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-question {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.faq-question-box {
    font-size: 18px;
    gap: 41px;
    display: flex;
    align-items: center;
}

.faq-icon {
    margin-right: 10px;
    font-size: 24px;
    color: #007BFF;
}

.faq-answer p {
    margin: 15px 0;
}

.font-36{
    margin: 0px; 
    font-size: 36px;
}

@media (max-width: 800px) {
    .faq-container {
        width: 600px;
    }

    .faq-text{
        font-size: 16px;
    }

    .aaa {
        max-width: 685px;
    }

}

@media (max-width: 600px) {
    .sixth-screen-four-text h1{
        text-align: center;
    }

    .faq-container {
        width: 100%;
    }

    .faq-text{
        font-size: 16px;
    }

    .aaa {
        width: 100%;
        padding: 0px 20px 0px 20px;
    }
    .bbb h1{
        font-size: 20px;
    }
    .bbb h3{
        font-size: 16px;
    }

}

/* ------------------------------------------------- */
/* -------------------footer------------------------ */
/* ------------------------------------------------- */


.footer {
    margin-top: 139px;
    background-color: #0C0C0C;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-div {
    display: flex;
    min-width: 221px;
}

.footer-div {
    font-size: 18px;
    display: flex;
}

.footer-section {
    width: 321px;
}

.container-ul {
    display: flex;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* max-width: 1200px; */
    margin: 0 auto;
    margin-top: 6.9375rem;
    margin-bottom: 10.5rem;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-section p,
.footer-section li {
    margin-bottom: 10px;
    color: #FFFFFF;
    text-align: left;
}

.footer-section a {
    color: #FFFFFF;
    text-decoration: none !important;
    border: none !important;
}

.footer-section a:hover {
    color: #007BFF;
}

.line-22 {
    margin-bottom: 26px;
}

.footer-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
}

.footer-section h3 {
    font-size: 24px;
    margin-bottom: 26px;
}

@media (max-width: 801px) {
    .footer-container {
        margin-top: 3rem;
    }
}

@media (max-width: 768px) {
    .footer-section {
        flex: 1 1 100%;
        margin: 15px 0;
    }
}